#neural-chaos {
    .link-to {
      position: relative;
      top: -4.5em;
    }
  
    .link-container h4 {
      text-decoration: none;
      border-bottom: none;
      display: inline-flex;
      align-items: center;

      a {
        padding: 0 0.5em;
        margin: 0;
      }

      & + h4::before {
        content: '|';
        margin: 0 0.5em;
        opacity: 0.6;
      }
    }

    section {
        scroll-margin-top: 4.5em;
    }
}